{% extends 'base.html' %}
{% block content %}
	<nav>
		<h1><a href="{% url 'posts:feeds' %}"> Pystagram </a></h1>
		<a href="{% url 'posts:post_add' %}"> Add Post </a>
		<a href="{% url 'users:logout' %}"> Logout </a>
	</nav>
	<div id="feeds" class="post-container">
		{% for post in posts %}
			<article id="post-{{post.id}}" class="post">
				<header class="post-header">
					{% if post.user.profile_image %}
						<img src="{{ post.user.profile_image.url }}">
					{% endif %}
					<span>{{ post.user.username }}</span>
				</header>
				
				<!-- 이미지 슬라이드 영역 시작 -->
				<div class="post-images splide">
					<div class="splide__track">
						<ul class="splide__list">
							{% for image in post.postimage_set.all %}
								{% if image.photo %}
								<li class="splide__slide">
									<img src="{{ image.photo.url }}">
								</li>
								{% endif %}
							{% endfor %}
						</ul>
					</div>
				</div>
				<!-- 이미지 슬라이드 영역 종료 -->
				
				<!-- 글 내용 -->
				<div class="post-content">
					{{ post.content|linebreaksbr }}
					<div class="post-tags">
						{% for tag in post.tags.all %}
							<a href="{% url 'posts:tags' tag_name=tag.name %}">#{{tag.name}}</a>
						{% endfor %}
					</div>
				</div>
				
				<!-- 좋아요, 댓글수 -->
				<div class="post-buttons">
					<button>Likes(0)</button>
					<span>Comments({{ post.comment_set.count }})</span>
				</div>
				
				<!-- 댓글 내용 -->
				<div class="post-comments">
					<ul>
						{% for comment in post.comment_set.all %}
							<li>
								<span>{{ comment.user.username }}</span>
								<span>{{ comment.content }}</span>
								
								<!-- 댓글 삭제 -->
								{% if user == comment.user %}
								<form method="POST"
									  action="{% url 'posts:comment_delete' comment_id=comment.id %}/">
									{% csrf_token %}
									<button type="submit">삭제</button>
								</form>
								{% endif %}
							</li>
						{% endfor %}
					</ul>
				</div>
				<small>{{ post.created }}</small>
				<!-- 댓글 생성 -->
				<div class="post-comment-create">
					<form method="POST" action="{% url 'posts:comment_add' %}">
						{% csrf_token %}
						<!-- Form에 전달할 사용자가 입력하지 않는 고정된 데이터 -->
						<input type="hidden" name="post" value="{{post.id}}">
						<!-- CommentForm의 필드 중 content만 렌더링-->
						{{ comment_form.content }}
						<button type="submit">게시</button>
					</form>
				</div>
			</article>
		{% endfor %}
	</div>
	
	<script>
		const elms = document.getElementsByClassName('splide')
		for (let i = 0; i < elms.length; i++) {
			new Splide(elms[i]).mount();
		}
	</script>
{% endblock %}